<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.albamen.mapper.member.MemberMapper">

    <resultMap id="memberMap" type="com.example.albamen.dto.member.MemberDTO">
        <id property="mno" column="mno"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="regDate" column="regDate"/>
        <result property="tel" column="tel"/>
        <result property="mstatus" column="mstatus"/>
        <result property="cno" column="cno"/>
        <result property="bno" column="bno"/>
        <collection property="authList" resultMap="authMap"></collection>
        <collection property="work_mList" resultMap="work_mMap"></collection>
    </resultMap>

    <resultMap id="work_mMap" type="com.example.albamen.dto.member.Work_MDTO">
        <id property="wno" column="wno"/>
        <result property="wDay" column="wDay"/>
        <result property="mno" column="mno"/>
        <result property="cno" column="cno"/>
        <result property="sno" column="sno"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="wstatus" column="wStatus"/>
    </resultMap>

    <resultMap id="authMap" type="com.example.albamen.dto.security.AuthDTO">
        <result property="ano" column="ano"/>
        <result property="mno" column="mno"/>
        <result property="cno" column="cno"/>
        <result property="auth" column="auth"/>
    </resultMap>



    <insert id="insertMember">
        insert into member(id, password, name, tel, cno)
        values(
        #{id},
        #{password},
        #{name},
        #{tel},
        #{cno}
        )
    </insert>
    <select id="listMember" resultMap="memberMap">
        select * from member
    </select>
    <select id="idCheck" resultType="int">
        select count(*) from member where id=#{id}
    </select>
<!--    <select id="selectMember" resultType="memberMap">-->
<!--        select * from member where id=#{id}-->
<!--    </select>-->

    <update id="updateMember">
        update member set password = #{password}, tel = #{tel} where id = #{id}
    </update>
    <select id="listWork_M" resultMap="work_mMap">
        select *
        from member m, work_management w
        where m.mno = w.mno and m.cno = w.cno and m.id = #{id}
    </select>

    <select id="getMember" resultMap="memberMap">
        select m.mno, m.id , m.password, m.name, m.cno, m.bno, c.name as cname, a.ano, a.auth
        from member m
        left join company c on c.cno = m.cno
        left join auth a on m.mno = a.mno
        where m.id = #{id}
    </select>
    <insert id="insertAuth">
        insert into auth(mno, auth)
        values (#{mno}, #{auth})
    </insert>

    <delete id="deleteAuth">
        delete from auth where mno = #{mno} and auth = #{auth}
    </delete>

    <select id="selectAuth">
        select ano, mno, auth
        from auth
        where mno = #{mno}
    </select>

    <select id="selectAuthList" resultMap="memberMap">
        select ano, mno, auth
        from auth
    </select>


</mapper>

