<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.albamen.mapper.member.MemberMapper">

    <resultMap id="memberMap" type="com.example.albamen.dto.member.MemberDTO">
        <id property="mno" column="mno"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="regDate" column="regDate"/>
        <result property="tel" column="tel"/>
        <result property="mstatus" column="mstatus"/>
        <result property="cno" column="cno"/>
        <collection property="work_mList" resultMap="work_mMap"></collection>
        <collection property="companyList" resultMap="companyMap"></collection>
    </resultMap>

    <resultMap id="work_mMap" type="com.example.albamen.dto.member.Work_MDTO">
        <id property="wno" column="wno"/>
        <result property="wDay" column="wDay"/>
        <result property="mno" column="mno"/>
        <result property="cno" column="cno"/>
        <result property="sno" column="sno"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="wstatus" column="wStatus"/>
    </resultMap>

    <resultMap id="companyMap" type="com.example.albamen.dto.company.CompanyDTO" >
        <id property="cno" column="cno"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="cname"/>
        <result property="regDate" column="regDate"/>
        <result property="cstatus" column="cStatus"/>
<!--        <collection property="branchList" resultMap="branchMap"> </collection>-->
    </resultMap>


    <insert id="insertMember">
        insert into member(id, password, name, tel, cno)
        values(
        #{id},
        #{password},
        #{name},
        #{tel},
        #{cno}
        )
    </insert>
    <select id="listMember" resultMap="memberMap">
        select * from member
    </select>
    <select id="idCheck" resultType="int">
        select count(*) from member where id=#{id}
    </select>
<!--    <select id="selectMember" resultType="memberMap">-->
<!--        select * from member where id=#{id}-->
<!--    </select>-->
    <select id="loginMember" resultMap="memberMap">
        select mno, m.id , m.password, m.name, m.tel, m.mstatus, m.regDate, c.name as cname
        from member m, company c
        where m.id=#{id} and m.password=#{password} and m.cno = c.cno
    </select>

    <update id="updateMember">
        update member set password = #{password}, tel = #{tel} where id = #{id}
    </update>
    <select id="listWork_M" resultMap="work_mMap">
        select *
        from member m, work_management w
        where m.mno = w.mno and m.cno = w.cno and m.id = #{id}
    </select>

</mapper>

