<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.albamen.mapper.company.ScheduleMapper">

    <resultMap id="scheduleMap" type="com.example.albamen.dto.company.ScheduleDTO">
        <id property="sno" column="sno"/>
        <result property="sday" column="sday"/>
        <result property="tno" column="tno"/>
        <result property="mno" column="mno"/>
        <result property="sstatus" column="sstatus"/>
        <collection property="timeList" resultMap="timeMap"></collection>
        <collection property="memberList" resultMap="memberMap"></collection>
    </resultMap>

    <resultMap id="timeMap" type="com.example.albamen.dto.company.TimeDTO">
        <id property="tno" column="tno"/>
        <result property="tname" column="tname"/>
        <result property="bno" column="bno"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="breakStartTime" column="breakStartTime"/>
        <result property="breakEndTime" column="breakEndTime"/>
    </resultMap>
    <resultMap id="memberMap" type="com.example.albamen.dto.member.MemberDTO">
        <id property="mno" column="mno"/>
        <result property="name" column="name"/>
        <result property="cno" column="cno"/>
        <result property="bno" column="bno"/>
    </resultMap>

    <insert id="insertSchedule">
        insert into schedule_management(sday, tno, mno, sstatus)
        values (#{sday}, #{tno}, #{mno}, 1)
    </insert>
    <insert id="insertScheduleNULL">
        insert into schedule_management(sday, mno, sstatus)
        values (#{sday}, #{mno}, #{sstatus})
    </insert>
    <select id="selectScheduleListDay" resultMap="scheduleMap">
        select sno, sday, sstatus, s.mno, name, s.tno, tname, m.bno, startTime, endTime, breakStartTime, breakEndTime
        from schedule_management s
        left join time_schedule ts on s.tno = ts.tno
        left join member m on s.mno = m.mno
        where m.bno = #{bno} and sday = #{sday}
        order by sDay asc, sstatus desc, startTime asc, endTime asc
    </select>
    <select id="selectScheduleListMonth" resultMap="scheduleMap">
        select sno, sday, sstatus, s.mno, name, s.tno, tname, m.bno, startTime, endTime, breakStartTime, breakEndTime
        from schedule_management s
        left join time_schedule ts on s.tno = ts.tno
        left join member m on s.mno = m.mno
        where m.bno = #{bno} and month(sday) = #{month}
        order by sDay asc, sstatus desc, startTime asc, endTime asc
    </select>
    <delete id="deleteSchdule">
        delete from schedule_management
        where sno = #{sno}
    </delete>

    <select id="selectTime" resultMap="timeMap">
        select tno, bno, tname, startTime, endTime, breakStartTime, breakEndTime
        from time_schedule
        where tno = #{tno}
    </select>
    <insert id="insertTime">
        insert into time_schedule(bno, tname, startTime, endTime, breakStartTime, breakEndTime)
        values (#{bno}, #{tname}, #{startTime}, #{endTime}, #{breakStartTime}, #{breakEndTime})
    </insert>
    <update id="updateTime">
        update time_schedule
        set tname = #{tname}, startTime = #{startTime}, endTime = #{endTime}, breakStartTime = #{breakStartTime}, breakEndTime = #{breakEndTime}
    </update>
    
    <update id="deleteTime">
        update time_schedule
        set bno = #{bno, jdbcType=VARCHAR}
        where tno =#{tno}
    </update>

    <select id="selectTimeList" resultMap="timeMap" >
        select tno, tname, bno, startTime, endTime, breakStartTime, breakEndTime
        from time_schedule
        where bno = #{bno}
        order by startTime asc, endTime asc;
    </select>

    <select id="selectTSchedule" resultMap="scheduleMap">
        select *
        from time_schedule t, schedule_management s
        where t.tno = s.tno
        and s.mno = #{mno}
        and s.sday = date(now())
    </select>




</mapper>

